/*
Prefix layout styles with l- for clarity. Separates the page into major sections.
Maybe the whole nav section. A whole section. Reusable and modular parts of design.

header, main, footer.

*/

#svg-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  z-index: 9999;
}

@media all and (orientation: portrait) {
  #home {
    background: url(../images/portraitMe.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media all and (orientation: landscape) {
  #home {
    background: url(../images/landscapeMe.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
