<section id="{{id}}">
    <div class="aboutBG">
      <img id="aboutBGImage" src="../images/portraitAboutMe-min.jpg">
      <div id="aboutMe">{{aboutMe}}</div>
    </div>
    <article class="roles">
      <div id="roleHeader">
        <img src="" alt="">
        <p></p>
        <p></p>
      </div>
      <div class="roleContent">
        <p class="summary"></p>
        <p class="roles"></p>
        <p class="skills"></p>
      </div>
    </article>

</section>
