/*
Core UI Styling. Font, base size, element styling and positioning.

No class or id selections here.
*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #d3d3d3;
}

section {
  display: table;
  /* Yes display table is a dumb way of doing this. Will fix when I spend alot of time on css*/
  margin: auto;
}
