/*
Prefix layout styles with l- for clarity.
They are the core structure of the website.

header, footer, primary nav, aside
*/
section {
  display: table;
  /* Yes display table is a dumb way of doing this. Will fix when I spend alot of time on css*/
  margin: auto;
}
body {
  background-color: #d3d3d3;
}
