/*
Prefix layout styles with l- for clarity. Separates the page into major sections.
Maybe the whole nav section. A whole section. Reusable and modular parts of design.

header, main, footer.

*/

.main-content {
  margin: auto;
  position: absolute;
  top: 0px;
  right: 0px;
}
